@charset "UTF-8";
/* @import url(media.css); */
@import url(keyframe.css);

/* <h1>诚挚邀请您参加婚礼</h1> */
.two h1{
    font-family: thingold;
    font-size: 5em;

    letter-spacing: 10px;

    margin-top: 3%;

    text-shadow: 0px 0px 10px #e9ceb4;
}
.two h3{
    font-family: hole;
    font-size: 2.5em;

    margin-left: 45%;

    /* text-shadow: 0px 0px 10px #1f1011; */
}
.two h5{
    font-family: hole;
    font-size:1em;
    text-transform: uppercase;
    margin-top: 1%;
}
.two .twoword{
    width: 100%;
    height: 5%;
    overflow: hidden;
    margin-top: 3%;
    /* text-align: left; */
}

.two span{
    font-family: thingold;
    font-size: 2.5em;
    font-weight: bolder;
    /* padding: 0 3%; */
    /* margin-top: -5%; */
}
/* .twoword{
    padding-left: 1%;
} */
.twoword i{
    font-size: 1.5em;
    /* padding: 0 2%; */
}

.two .weddingpic{
    width: 100%;
    height: 55%;
    overflow: hidden;
    /* margin: 1% 0; */
}
.weddingpic img{
    width: 40%;
    float: left;
    /* margin-top: -30%; */
}

#imgbride{
   /* margin-left: 26%;*/
   margin-top: 0%;
   /* transform: scale(0.35) translateY(-80%) translateX(125%); */
   transform: translateX(49%);
}
#imgroom{
    /* margin-left: -12%; */
    /* transform: scale(0.3) translateY(-110%) translateX(-125%); */
    transform: translateX(11%);
 }

 /* 选中样式 */
 /* #nav2{
    color: rgba(233,191,120,1);
 } */

@media screen and (max-device-width:540px){
    #imgbride{
        margin-top: 10%;
     
     }
     
     #imgroom{
        /* transform: scale(1.2) translateX(-10%) translateY(15%); */
        margin-top: 10%;
      }
      .two h3{
          font-size: 1em;
      }
      .two .twoword{
          height: 8%;
      }
      .twoword span{
          font-size: 1.5em;
      }
      .two h5{
        font-size: 0.8em;
       }
       .two h1{
        font-size: 3.5em;
        margin-top: 5%;
      }
      .two .twoword{
          margin-top:0%;
      }
      .two .weddingpic {
          height: 62%;
      }
}



/* 横屏 */
@media screen and (min-device-width:600px) and (max-device-width:1024px) and (min-device-height:650px){
    .two span{
        font-size: 2em;
    }
    .two .weddingpic {
        height: 50%;
    }
}

/* iphone x */
@media screen and (max-device-width:500px) and (min-device-height:740px){
    #imgbride{
        margin-top: 35%;
    }
    #imgroom{
        margin-top: 35%;
    }
}

/* 手机横屏 */
@media screen and (min-device-width:560px) and (max-device-width:900px) and (max-device-height:500px){
    .two h1{
        font-size: 3em;
        margin-top: 0%;
      }
    .two h3{
        font-size: 1em;
    }
    .two .twoword{
        height: 8%;
    }
    .twoword span{
        font-size: 1.5em;
    }
    .two h5{
      font-size: 5px;
     }
     .two .weddingpic{
         height: 50%;
     }
     
}
@media only screen and (min-device-width:768px) and (max-device-width:770px)  and (min-device-height:900px){
    .two .weddingpic {
        height: 68%;
        margin: 1% 0;
    }
    #imgbride{
        margin-top: 0%;
     
     }
     .two h3{
        font-size: 2em;
     }
     .two h1{
        font-size: 4em;
     }
     .two span{
        font-size: 2em;
     }

}
@media only screen and (min-device-width:1024px) and (min-device-height:1000px){
    .two .weddingpic {
        height: 65%;
        margin: 5% 0;
    }
    /* #imgbride{
        margin-top: 20%;
     
     } */

}