@charset "UTF-8";
@import url(keyframes.css);

.six{
    font-family: mading;
}
#sixTitle{
    width: 100%;
    height: 10%;
    overflow: hidden;
    margin-top: 3%;
}

#sixTitle span{
    
    font-size: 3.5em;
}

.six h2{
    font-size:1.5em;
    text-align: center;

    margin-top: 2%;
}

.sixThreeimg{
    width: 100%;
    height: 60%;
    margin: 2% 2%;

    overflow: hidden;
}
.sixThreeimg img{
    width: 30%;
    float: left;

    margin-left: 1%;
    margin-right: 1%;

    margin-top: 1%;
    /* padding-top: 1%; */

    /* box-shadow: 0px 0px 10px #1f1011; */
}
/* #sixThreeimg1{
    margin-left: 1%;
    margin-right: 1%;
}
*/
/* #sixThreeimg1{
    margin-left: 2%;
} */
#sixThreeimg2{
    transform: scale(0.6);
    /* margin-top: 10%; */
} 
#sixThreeimg4{
    transform: scale(0.6);
    margin-left: 18%;
} 
#sixThreeimg5{
    transform: scale(0.6);
    /* margin-top: 10%; */
} 
/* #sixheart{
    font-size: 2em;
} */
@media screen and (max-device-width: 320px){
    #sixTitle span{
    
        font-size: 1.5em;
    }
    .six h2{
        font-size: .9em;
        margin-top: 0%;
    }
    .sixThreeimg{
        height: 69%;
        margin-top: 5%;
        
    }
    .sixThreeimg img{
        width: 80%;
        margin-left: 10%;
    }
    #sixThreeimg1{
        display:none;
    }
    #sixThreeimg3{
        display:none;
    }
    #sixThreeimg2{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    #sixThreeimg4{
        transform: scale(1);
        -webkit-transform: scale(1);
        margin: 2% 0 2% 10%;
    }
    #sixThreeimg5{
        display:none;
    }
}
@media only screen and (max-device-width:539px)  and (min-device-width:321px) {
   
    #sixTitle{
        height:6%;
    }
    #sixTitle span{
    
        font-size: 1.5em;
    }
    .six h2{
        font-size: .9em;
        margin-top: 5%;
    }
    .sixThreeimg{
        height: 75%;
        margin-top: 5%;
        
    }
    .sixThreeimg img{
        width: 80%;
        margin-left: 10%;
    }
    #sixThreeimg1{
        display:none;
    }
    #sixThreeimg3{
        display:none;
    }
    #sixThreeimg2{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    #sixThreeimg4{
        transform: scale(1);
        -webkit-transform: scale(1);
        margin: 2% 0 2% 10%;
    }
    #sixThreeimg5{
        display:none;
    }
}
@media screen and (max-device-width:540px) and (min-device-width:540px){
   
    #sixTitle span{
    
        font-size: 2em;
    }
    .six h2{
        font-size: .9em;
        margin-top: 5%;
    }
    .sixThreeimg{
        height: 73%;
        margin-top: 0%;
        
    }
    .sixThreeimg img{
        width: 100%;
        /* margin-left: 40%; */
    }
    #sixThreeimg3{
        display:none;
    }
    #sixThreeimg2{
        margin-top: 0%;
    }
    #sixThreeimg4{
        display:none;
    }
    #sixThreeimg5{
        display:none;
    }
}


/* 横屏 */
@media screen and (min-device-width:600px) and (max-device-width:1024px) and (min-device-height:650px){
    .sixThreeimg{
        height: 60%;
        padding-top: 0;
    }
}
/* iphone x */
@media screen and (max-device-width:500px) and (min-device-height:740px){
    #sixThreeimg5{
        display:block;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
/* 手机横屏 */
@media screen and (min-device-width:560px) and (max-device-width:900px) and (max-device-height:500px){
    #sixTitle{
        height:8%;
        margin-top: 0;
    }
    #sixTitle span{
    
        font-size: 1.5em;
    }
    .six h2{
        font-size: .9em;
        margin-top: 5%;
    }
    .sixThreeimg{
        height: 72%;
        padding: 0;
    }
}
@media only screen and (min-device-width:768px) and (max-device-width:770px) and (min-device-height:900px){
   
    .sixThreeimg{
        height: 50%;
        padding-top: 30%;
        
    }

    .sixTitle span{
        font-size: 3em;
    }
}
@media only screen and (min-device-width:1024px) and (min-device-height:1000px){
   
    .sixThreeimg{
        height: 50%;
        padding-top: 30%;
        
    }
}