.eighth1An{
    animation: eighth1key .5s linear ;

    /* Safari */
    -webkit-animation: eighth1key .5s linear ;
    /* Firefox */
    -moz-animation: eighth1key .5s linear ;
     /* IE 9 */
    -ms-zoom-animation: eighth1key .5s linear ;
    /* Opera */
    -o-animation: eighth1key .5s linear ;
}
@keyframes eighth1key {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes eighth1key {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

.eighth2An{
    animation: eighth2key .5s linear;

    /* Safari */
    -webkit-animation: eighth2key .5s linear;
    /* Firefox */
    -moz-animation: eighth2key .5s linear;
     /* IE 9 */
    -ms-zoom-animation: eighth2key .5s linear;
    /* Opera */
    -o-animation: eighth2key .5s linear;
}

@keyframes eighth2key {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes eighth2key {
    0%{
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

.eighth3An{
    animation: eighth3key .5s linear;

    /* Safari */
    -webkit-animation: eighth3key .5s linear;
    /* Firefox */
    -moz-animation: eighth3key .5s linear;
     /* IE 9 */
    -ms-zoom-animation: eighth3key .5s linear;
    /* Opera */
    -o-animation: eighth3key .5s linear;
}

@keyframes eighth3key {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes eighth3key {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}


.eighthform{
    animation: eighth2form .5s linear;

     /* Safari */
     -webkit-animation: eighth2form .5s linear;
     /* Firefox */
     -moz-animation: eighth2form .5s linear;
      /* IE 9 */
     -ms-zoom-animation: eighth2form .5s linear;
     /* Opera */
     -o-animation: eighth2form .5s linear;
}

@keyframes eighth2form {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes eighth2form {
    0%{
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

.eighth4An{
    animation: eighth4key .5s linear;

    /* Safari */
    -webkit-animation: eighth4key .5s linear;
    /* Firefox */
    -moz-animation: eighth4key .5s linear;
     /* IE 9 */
    -ms-zoom-animation: eighth4key .5s linear;
    /* Opera */
    -o-animation: eighth4key .5s linear;

}
@keyframes eighth4key {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes eighth4key {
    0%{
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


.eightgifAn{
    animation: eightgifkey .5s linear;

     /* Safari */
     -webkit-animation: eightgifkey .5s linear;
     /* Firefox */
     -moz-animation: eightgifkey .5s linear;
      /* IE 9 */
     -ms-zoom-animation: eightgifkey .5s linear;
     /* Opera */
     -o-animation: eightgifkey .5s linear;
}
@keyframes eightgifkey {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes eightgifkey {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}