@charset "UTF-8";
@import url(keyframes.css);

.three .groomword{
    width:100%;
    height: 20%;
    overflow: hidden;
}
.groomword h1{
    width: 10%;
    float: left;

    font-family: rice;
    /* text-transform: uppercase; */

    font-size:4em;
    margin-top: 3%;

    border: 2px solid rgba(233,191,120,1);
    border-radius: 50%;
    /* margin: 3% 45% 0 45%; */
    /* padding: 5%; */
}

#wordnew{
    margin-left: 35%;
}
#wordlang{
    margin-left: 9%;
}

.three .groompic{
    width: 100%;
    height: 55%;
    overflow: hidden;
    /* padding-bottom: 3%; */

    /* border-top: 10px solid rgba(233, 191, 120); */
    /* border-bottom: 10px solid rgba(233, 191, 120); */
    /* margin: 0 4%; */
}
.groompic img{
    width: 30%;
    float: left;

    /* border: 1px solid rgba(233, 191, 120);
    border-radius: 20%; */
}
#groompic1{
    margin-top: 3%;
    margin-left: 6%;
}
/* #groompic2{
    margin-left: 6%;
} */
#groomdiv{
    width: 55%;
    height: 90%;
    float: left;
    /* border: 2px solid #924945; */
    /* box-shadow: 10px 10px 10px #e9ceb4; */
    text-shadow: 0px 0px 10px rgba(233, 191, 120);
    border-radius: 30%;

    font-family: mading;
    position: relative;
    /* background: #864440; */
    color:#e6bcac;
}
#groomdiv h1{
    font-size: 3em;
    position: absolute;
    top: 42%;
    left: 20%;
}
#groomdiv h2{
    font-size: 2em;
    position: absolute;
    top: 20%;
    left: 10%;
}
#groomdiv h3{
    font-size: 2em;
    position: absolute;
    top: 20%;
    left: 65%;
}
#groomdiv h4{
    font-size: 2em;
    position: absolute;
    top: 70%;
    left: 10%;
    font-family: mading;
    margin: 0;
    padding: 0;
    border: none;
}
#groomdiv h5{
    font-size: 2em;
    position: absolute;
    top: 70%;
    left: 55%;
}
.groomec{
    width: 100%;
    height: 6%;
    overflow: hidden;
}
/* <h2>groom</h2> */
.groomec h2{
    font-family: robot;
    text-transform: uppercase;
    font-size: 2.5em;

    /* margin-top: 5%; */
    /* float: left; */
    /* margin: 0% 5% 3% 5%; */
}

/* <h3>新郎</h3> */
.groomec h3{
    font-family: robot;
    font-size: 3em;
    /* float: left; */
    margin: 0% 0% 0% 3%;
}

/* <h4>誓词</h4> */
.three h4{
    font-family: thingold;
    font-size: 1.5em;
    /* text-align: left; */
    margin: 1% 30% 0% 30%;

    padding: 1% 1%;

    border-top: 2px solid rgba(233, 191, 120);
    border-bottom: 2px solid rgba(233, 191, 120);
}

.groompeople{
    position: fixed;
    right: 1%;
    bottom: 3%;

    /* background: rgba(113, 32, 17);
    border: 1px solid rgba(113, 32, 17);
    border-radius: 50%;

    transform: scale(2); */
}
@media screen and (max-device-width: 320px){
    .three .groomword {
        height: 15%;
    }
    .three .groompic {
        height: 60%;
        margin-left: 6%;
    }
    .groomec h2 {
        font-size: 1em;
    }
    #groompic1 {
        margin-top: 5%;
    }
    .groomword h1{
        width: 20%;
        font-size:3em;
    }
    #wordnew {
        margin-left: 27%;
    }
    .three h4{
        font-size:1em;
        margin: 1% 23% 0% 23%;
    }

    .groompic img{
        width: 80%;
    }
    #groomdiv{
        width: 80%;
        height: 50%;
        margin-left: 5%;
    }
    #groomdiv h1{
        font-size: 1.3em;
        left:15%;
    }
    #groomdiv h2{
        font-size: .8em;
    }
    #groomdiv h3{
        font-size: .8em;
    }
    #groomdiv h4{
        font-size: .8em;
    }
    #groomdiv h5{
        font-size: .8em;
    }
}

@media  screen and (max-device-width:539px)  and (min-device-width:321px) {
    .groomword h1{
        width: 20%;
        font-size:3em;
    }
    #wordnew {
        margin-left: 27%;
    }
    .groomec h2{
        font-size: 1.5em;
    }
    .three .groomword{
        height: 13%;
    }
    .three h4{
        font-size:1em;
        margin: 1% 23% 0% 23%;
    }

    .three .groompic{
        height: 62%;
        margin-left: 6%;
    }

    .groompic img{
        width: 80%;
    }
    #groompic1{
        margin-top: 5%;
    }
    /* #groompic2{
        margin-top: 10%;
    } */
    #groomdiv{
        width: 80%;
        height: 50%;
        margin-left: 5%;
    }
    #groomdiv h1{
        font-size: 1.5em;
    }
    #groomdiv h2{
        font-size: 1em;
    }
    #groomdiv h3{
        font-size: 1em;
    }
    #groomdiv h4{
        font-size: 1em;
    }
    #groomdiv h5{
        font-size: 1em;
    }
}
@media screen and (max-device-width:540px) and (min-device-width:540px){
    .groomword h1{
        width: 20%;
        font-size:3em;
    }
    #wordnew {
        margin-left: 27%;
    }
    .groomec h2{
        font-size: 1.4em;
    }
    .three .groomword{
        height: 13%;
    }
    .three h4{
        font-size:1em;
        margin: 0% 23% 0% 23%;
    }

    .four .bridepic{
        height: 73%;
        margin-left: 6%;
    }

    .groompic img{
        width: 80%;
    }
    #groompic1{
        margin-top: 0%;
    }
    #groompic2{
        margin-top: 0%;
    }
    .groomec{
        height: 4%;
    }
}

/* 横屏 */
@media screen and (min-device-width:600px) and (max-device-width:1024px) and (min-device-height:650px){
    #groompic1{
        margin-top: 0%;
    }
    
    .three .groompic{
        height: 45%;
    }
}

/* iphone 5 */
@media screen and (max-device-width:500px) and (max-device-height:600px){
    #groompic2{
        display: none;
    }
}

/* 手机横屏 */
@media screen and (min-device-width:560px) and (max-device-width:900px) and (max-device-height:500px){
    
    .three .groomword{
        height: 20%;
        margin-top: 0;
    }
    .groomword h1{
        font-size: 2em;
    }
    #groompic1{
        margin-top: 0;
    }
    #wordnew{
        margin-left: 35%;
    }
    .groomec h2{
        font-size: .8em;
    }
    .three h4{
        font-size: .8em;
        margin: 0% 35%;
    }
    .three .groompic{
        height: 45%;
    }
    #groompic1{
        margin-left: 8%;
    }
    #groomdiv h1{
        font-size: 1.5em;
        /* left:15%; */
    }
    #groomdiv h2{
        font-size: 1em;
    }
    #groomdiv h3{
        font-size: 1em;
    }
    #groomdiv h4{
        font-size: 1em;
    }
    #groomdiv h5{
        font-size: 1em;
    }
}
@media only screen and (min-device-width:768px) and (max-device-width:770px) and (min-device-height:900px){
    #groompic1 {
        margin-top: 25%;
    }
    #wordlang {
        margin-left: 12%;
    }
    #wordnew {
        margin-left: 25%;
    }
    .groomword h1 {
        width: 20%;
    }
    #groomdiv h1{
        font-size: 2em;
        left:15%;
    }
    #groomdiv h2{
        font-size: 1.5em;
    }
    #groomdiv h3{
        font-size: 1.5em;
    }
    #groomdiv h4{
        font-size: 1.5em;
    }
    #groomdiv h5{
        font-size: 1.5em;
    }
}
@media only screen and (min-device-width:1024px) and (min-device-height:1000px){
    #groompic1 {
        margin-top: 41%;
    }
}
