@keyframes sevenh1key {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
@-webkit-keyframes sevenh1key {
    0%{
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    } 
}

.sevenh1An{
    animation: sevenh1key .5s linear;

    /* Safari */
    -webkit-animation: sevenh1key .5s linear;
    /* Firefox */
    -moz-animation: sevenh1key .5s linear;
     /* IE 9 */
    -ms-zoom-animation: sevenh1key .5s linear;
    /* Opera */
    -o-animation: sevenh1key .5s linear;
}

@keyframes sevenh2key {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
.sevenh2An{
    animation: sevenh2key .5s linear;

     /* Safari */
     -webkit-animation: sevenh2key .5s linear;
     /* Firefox */
     -moz-animation: sevenh2key .5s linear;
      /* IE 9 */
     -ms-zoom-animation: sevenh2key .5s linear;
     /* Opera */
     -o-animation: sevenh2key .5s linear;
}

@keyframes sevenpickey {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    } 
}
@-webkit-keyframes sevenpickey {
    0%{
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
    } 
}

.sevenpicAn{
    animation: sevenpickey .5s linear .5s;

     /* Safari */
     -webkit-animation: sevenpickey .5s linear;
     /* Firefox */
     -moz-animation: sevenpickey .5s linear;
      /* IE 9 */
     -ms-zoom-animation: sevenpickey .5s linear;
     /* Opera */
     -o-animation: sevenpickey .5s linear;
}

@keyframes sevenh3key {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    } 
}
@-webkit-keyframes sevenh3key {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    } 
}
.sevenh3An{
    animation: sevenh3key .5s linear;
     /* Safari */
     -webkit-animation: sevenh3key .5s linear;
     /* Firefox */
     -moz-animation: sevenh3key .5s linear;
      /* IE 9 */
     -ms-zoom-animation: sevenh3key .5s linear;
     /* Opera */
     -o-animation: sevenh3key .5s linear;

}

@keyframes sevenmapkey {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
@-webkit-keyframes sevenmapkey {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    } 
}
.sevenmapAn{
    animation: sevenmapkey .5s linear;

    /* Safari */
    -webkit-animation: sevenmapkey .5s linear;
    /* Firefox */
    -moz-animation: sevenmapkey .5s linear;
     /* IE 9 */
    -ms-zoom-animation: sevenmapkey .5s linear;
    /* Opera */
    -o-animation: sevenmapkey .5s linear;
}


@keyframes sevenpicdivkey {
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
@-webkit-keyframes sevenpicdivkey {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-1000px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    } 
}
.sevenpicdivAn{
    animation: sevenpicdivkey .5s linear;

    /* Safari */
    -webkit-animation: sevenpicdivkey .5s linear;
    /* Firefox */
    -moz-animation: sevenpicdivkey .5s linear;
     /* IE 9 */
    -ms-zoom-animation: sevenpicdivkey .5s linear;
    /* Opera */
    -o-animation: sevenpicdivkey .5s linear;
}

.sevengifAn{
    animation: sevengifkey .5s linear;

    /* Safari */
    -webkit-animation: sevengifkey .5s linear;
    /* Firefox */
    -moz-animation: sevengifkey .5s linear;
     /* IE 9 */
    -ms-zoom-animation: sevengifkey .5s linear;
    /* Opera */
    -o-animation: sevengifkey .5s linear;
}
@keyframes sevengifkey {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes sevengifkey {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}